/* _base.scss

Our general styling includes:

- Fixed background image
- Start page styling (logo and text)
- Search bar and filter
- Sidebar
- Button with icon on right side
- Last-orders page
- Statistics page
- DragNDrop Styling
- Users page
- Add credit page

*/


// Fixed background image and themes (alt_theme)
// ******
body {
  background-image: url(../img/beer1.jpg);
  background-size: 100vw;
  background-attachment: fixed;
  padding-top: $navbar-height + $line-height-computed;

  &.alt_theme {
    background-image: url(../img/beer2.jpg);
    background-size: 100vw;
    background-attachment: fixed;
    padding-top: $navbar-height + $line-height-computed;
  }
}


// Start page styling
// ******
// logo as a background image, catchy text on white background
#logo {
  background-image: url(../img/logo_circ.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 320px;
  margin-top: 3 * $line-height-computed;

  .hint {
    margin-top: $line-height-computed;
  }

  span {
    background-color: white;
    opacity: 0.95;
    padding: 2px;
  }

  a span {
    background-color: transparent;
  }
}


// Search bar and filter
// ******
.filter {
  padding: $line-height-computed;
  margin-bottom: $line-height-computed/2;
  background-color: white;
  border-top: $line-height-computed/2 solid $brand-primary;
}

#search-bar {
  background-color: $gray-lighter;
  padding: $line-height-computed 0px;
}


// Sidebar (left) for navigation elements
// ******
/* uses the bootstrap panel styling and markup (http://getbootstrap.com/components/#panels) and nav-pilles for navigation (http://getbootstrap.com/components/#nav-pills)
*/
#sidebar {
  .panel {
    border: 0px;
  }

  .panel-body {
    padding: 0px;
  }
}


// Button with icon on right side
// ******
/* HTML-markup example:

  <button class="btn btn-primary btn-icon">
    ... some text here ...
    <i class="fa fa-chevron-right"></i>
  </button>
*/
.btn-icon {
  i {
    border-left: 2px dotted;
    margin-left: $line-height-computed/2;
    padding-left:$line-height-computed/2;
  }
}


// List of beers and no results
// ******
/* uses a bootstrap list-group (http://getbootstrap.com/components/#list-group-buttons) with button elements inside
*/
.list-group {
  margin-bottom: $line-height-computed/2;
}

button.list-group-item:focus {
  background-color: white;
}

button.list-group-item:hover {
  background-color: #ce9b7d;
}

// Styling for message "no results found"
.no-results {
  padding: $line-height-computed;
  background-color: $gray-lighter;
}


// Last-orders page
// ******
#last-orders {
  background-color: #f5f5f5;
}

// Statistics page
// ******
#statistics {
  background-color: #f5f5f5;
}


// DragNDrop Styling
// ******
.cart {
  position: fixed;
  width: 39%;

  .panel-body {
    min-height: 6 * $line-height-computed;
    padding-top: 4 * $line-height-computed;
  }
}

// Dashed outline for dragging an element
.dnd-drag {
  border: 2px dashed white;
}

// Dark grey background indicates that it is possible to drop an element here
.dnd-over {
  background: $gray;
  border: 2px dashed white;
}

// Hint text for the user to dragNdrop stuff here in light grey
#bg-drop {
  color: lighten($gray-light, 20%);
  pointer-events: none; // very important to let dragNdrop actually happen
  margin-top: -65px;
}


// Users page
// ******
#all-users {
  background-color: white;
}

// Add credit page
// ******
#add-credit {
  background-color: white;
}

#credit-not-added {
  display: none;
}

.credit-success {
  display: inline;
}