/* _overlay.scss

Styling for an modal overlay.

HTML-markup example:

  <div class="overlay">
    <div class="overlay-dialog">
      <div class="overlay-content">
        <div class="overlay-header">
          <button class="close">&times;</button>
          <h4 class="overlay-title">Title</h4>
        </div>
        <div class="overlay-body">
          ... some content here ...
        </div>
        <div class="overlay-footer>
          ... some footer content ...
        </div>
      </div>
    </div>
  </div>

  The visibility of the modal overlay is triggered with JS setting the display attribute.

*/

// Respponsible for the darkended background.
.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 99999;
}

.overlay-dialog {
  background: white;
  margin: 10% auto;
  position: relative;
  width: $modal-md;
}

.overlay-header {
  border-bottom: 1px solid $modal-footer-border-color;
  padding: 10px $line-height-computed;
}

.overlay-body {
  padding: $line-height-computed;
}

.overlay-footer {
  border-top: 1px solid $modal-footer-border-color;
  padding: 10px $line-height-computed;
}

// Using JS little squares are added to the overlay-footer element.
.tick {
  width: $line-height-computed;
  height: $line-height-computed;
  margin: 5px;
  border: 1px solid $gray-light;
  display: inline-block;

  &.active {
    background-color: $gray-light;
  }
}