<!---
File: index.html
This HTML files contains all the necessary elements to display the static elements on the VIP user and admin parts
of the website, such as the navigation bars and additional toggles
Author: Alexa Schegel
-->



<!DOCTYPE html>
<html lang="en" ng-app="barApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FlyingDutchman2016</title>

    <!-- Our own CSS styles -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Angular v1.5.0 -->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <!-- jQuery  -->
    <script src="js/jquery-1.12.0.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- our own stuff for now -->
    <script src="js/app.js"></script>

    <!-- google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <!-- all controllers and services-->
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controller/global-controller.js"></script>
    <script src="js/controller/login-controller.js"></script>
    <script src="js/controller/beer-controller.js"></script>
    <script src="js/controller/home-controller.js"></script>
    <script src="js/controller/statistics-controller.js"></script>
    <script src="js/controller/last-orders-controller.js"></script>
    <script src="js/controller/stock-controller.js"></script>
    <script src="js/controller/TMPadmin-controller.js"></script>
    <script src="js/controller/users-controller.js"></script>
    <script src="js/controller/order-history-controller.js"></script>
    <script src="js/controller/addCredit-controller.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="GlobalController">

    <div class="container-fluid">

      <!--Show a navbar where we can place the website logo, as well as options for language selections and themes -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">FlyingDutchman BeerApp</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling in the navbar-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <button type="button" class="btn btn-default navbar-btn" ng-click="switchLanguage()"><span i18n="CHANGE_LANGUAGE"></span> {{ I18nService.getInactiveLanguage() }}</button>
              </li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-user"></i><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><span i18n="CURRENT_USER"></span>{{ AuthService.getLoggedInUser().username }}</li>
                  <li><a href="/#/" ng-click="changeTheme()"><span i18n="CHANGE_THEME"></span></a></li>
                  <li><a href="#"><span i18n="OTHER"></span></a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" ng-click="logout()"><span i18n="SIGN_OUT"></span></a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      
      <!-- FOR VIP USERS: Displays the left navigation bar where a user can select which page of the site to display -->
      <div class="row">
        <div id="sidebar" class="col-md-2">
          <div class="panel panel-default" id="menu-vip">
            <div class="panel-heading"><span i18n="VIP_MENU"></span></div>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-class="{ active: isActive('/user')}">
                  <a href="#user"><span i18n="ALL_BEERS"></span></a>
                </li>
                <li role="presentation" ng-class="{ active: isActive('/last-orders')}">
                  <a href="#last-orders"><span i18n="LAST_ORDERS"></span></a>
                </li>
              </ul>
            </div>
          </div>
          
          <!-- FOR ADMIN USERS: Displays the left navigation bar where an admin can select which page of the site to display -->
          <div class="panel panel-default" id="menu-admin">
            <div class="panel-heading"><span i18n="ADMIN_MENU"></span></div>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-class="{ active: isActive('/statistics')}">
                  <a href="#statistics"><span i18n="STATISTICS"></span></a>
                </li>
                <li role="presentation" ng-class="{ active: isActive('/stock')}">
                  <a href="#stock"><span i18n="STOCK"></span></a>
                </li>
                <li role="presentation" ng-class="{ active: isActive('/all-users')}">
                  <a href="#all-users"><span i18n="VIP_USERS"></span></a>
                </li>
                <li role="presentation" ng-class="{ active: isActive('/add-credit')}">
                  <a href="#add-credit"><span i18n="ADD_CREDIT"></span></a>
                </li>
                <li role="presentation" ng-class="{ active: isActive('/order-history')}">
                  <a href="#order-history"><span i18n="ORDER_HISTORY"></span></a>
                </li>
              </ul>
            </div>
          </div>
          
          <!-- FOR ADMIN USERS, Display the warnings which indicate which beverages are running out of stock-->
          <div class="panel panel-default" id="warnings">
            <div class="panel-heading">{{notices.length}} <span i18n="OUT_STOCK"></span><i ng-click="expandNotice()" class="{{activeNotices ? 'fa fa-caret-down fa-2x pull-right' : 'fa fa-caret-right fa-2x pull-right'}}" ></i></div>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#stock" ng-click="passValue(value)" ng-repeat="(key, value) in content | orderBy:'count'">
                    {{ value.namn }}<span class="pull-right">{{ value.count }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>


        </div>

        <!-- Main Content Area -->
        <div class="col-md-10">

          <!-- MAIN CONTENT AND INJECTED VIEWS -->

            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div ng-view></div>

          </div>

        </div>
      </div>

    </div>
  </body>
</html>
<!---
END of file index.html
-->
