<div class="row">
    <div class="col-md-6" id = "add-credit">

            <h2>Add credit</h2>

        <!-- SEARCH/FILTER THINGY -->
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>
        </form>
        <div class="list-group">
            <!-- draggable Button -->
            <button class="list-group-item"  ng-click="$parent.currentUser = value.first_name + '&nbsp;' + value.last_name;$parent.currentCredit = value.currentBalance; $parent.currentID = value.id" ng-repeat="(key, value) in content | filter:search">
                <h4 class="list-group-item-heading" id = "{{ value.id }}">{{ value.first_name }} {{ value.last_name }}<span class="pull-right">Balance: {{ value.currentBalance }}</span></h4>
            </button>
        </div>

    </div>
    <div class="col-md-1">
        <div class="panel panel-default cart">

            <div class="panel-heading">{{currentUser}}</div>

            <div class="panel-body">
                <form >
                    <label>Current credit: {{currentCredit}}</label>

                    <input type="text" class="form-control" ng-model="newCredit" placeholder="Add credit">
                    <input type="hidden" ng-model="user_id" value="{{currentID}}">
                </form>
            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-primary center" ng-click="updateCredit(newCredit, currentID)">Apply Changes</button>

            </div>
        </div>
    </div>
</div>

