
<div class="row">
    <div class="col-md-7" id = "all-users">
        <h2>VIP User Management</h2>

        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>
        </form>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="contact in contacts | filter:search">
                <td>{{ contact.username }}</td>
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td> <a href="javascript:void(0)" ng-click="edit(contact.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(contact.id)">delete</a>

                </td>
            </tr>

            </tbody>
        </table>




    </div>
    <div class="col-md-4" >
        <section id = "user-details">
            <form class="well">
                <h3><i class="icon-user"></i>Add/edit users</h3>
                <fieldset class="form-group">
                <label>First name</label>
                <input type="text" class="form-control"  name="name" ng-model="newcontact.first_name" required />
                </fieldset>
                <fieldset class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" name="email" ng-model="newcontact.last_name"  />
                </fieldset>
                <fieldset class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" ng-model="newcontact.username" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" />
                </fieldset>
                <fieldset class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="newcontact.email"/>
                </fieldset>
                <fieldset class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" ng-model="newcontact.phone" />
                </fieldset>

                <br/>
                <input type="hidden" ng-model="newcontact.id" />
                <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
            </form>
        </section>
    </div>
</div>