<!---
File: statistics.html

This HTML file contains the required elements for showing a purchases list and a graph containing
statistics of the active choice.

Author: Johan Herelius
-->
<div class="row">
  <div class="col-md-6">

    <!-- SEARCH/FILTER THINGY -->
    <form role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="search">
      </div>
    </form>

    //the elements used to display and sort the main item list
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          <span i18n="BEVERAGE"></span>
          <span class="pull-right"><span i18n="SOLD"></span></span>
        </h4>
      </div>

      //button element will change the graph to reflect the content
      //of the current chosen item
      <button ng-click="addToGraph(value)" id="{{value[0].id}}" class="list-group-item" ng-repeat="(key, value) in content | filter:search | orderBy:value.length:true" data-beerid="{{ value[0].id }}">
        <h4 class="list-group-item-heading">
          {{ value[0].name }}
          <small>&nbsp;{{ value[0].namn2 }}</small>
          <span class="pull-right">x {{value.length}}</span>
        </h4>
        <p class="list-group-item-text">
        </p>
      </button>
    </div>

  </div>

  //container for the graph element that is inserted by the statistics-controller
  <div class="col-md-6">
    <div >
      <div id="curve_chart" ></div>
    </div>
  </div>
</div>
