<!-- all-beers.html -->
<div class="row">
    <div class="col-md-6">

        <!-- SEARCH/FILTER THINGY -->
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>
        </form>
        <div class="list-group">
            <!-- draggable Button -->
            <button class="list-group-item" ng-class="(value.count < 1) ? 'disabled' : ''" ng-repeat="(key, value) in content | filter:search">
                <h4 class="list-group-item-heading">{{ value.namn }}<small>&nbsp;{{ value.namn2 }}</small><span class="pull-right">Amount: {{ value.count }}</span></h4>
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default cart">
            <div class="panel-heading">Adjust</div>
            <div class="panel-body">
                <form>
                    <input type="text" class="form-control" placeholder="Amount" ng-model="amount">
                    <input type="text" class="form-control" placeholder="Price" ng-model="price">
                </form>
            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-primary center" ng-click="placeOrder()">Apply Changes</button>
            </div>
        </div>
    </div>
</div>

