<!-- all-beers.html -->
<div class="row">
    <div class="col-md-6">

        <!-- SEARCH/FILTER THINGY -->
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>
        </form>
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    <span i18n="BEVERAGE"></span>
                    <span class="pull-right"><span i18n="AMOUNT"></span></span>
                </h4>
            </div>
            <!-- draggable Button -->
            <button class="list-group-item" ng-click="$parent.currentbeer = value.namn;$parent.currentAmount = value.count; $parent.currentPrice = value.price; $parent.currentID = value.beer_id" ng-repeat="(key, value) in content | filter:search ">
                <h4 class="list-group-item-heading">{{ value.namn }}<small>&nbsp;{{ value.namn2 }}</small><span class="pull-right">{{ value.count }}</span></h4>
            </button>
        </div>
    </div>
    <div class="col-md-1">
        <div class="panel panel-default cart">
            <div class="panel-heading">{{currentbeer}}</div>
            <div class="panel-body">
                <form>
                    <input type="text" class="form-control" placeholder={{currentAmount}} ng-model="newAmount">
                    <input type="text" class="form-control" placeholder={{currentPrice}} ng-model="newPrice">
                </form>
            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-primary center" ng-click="updateInventory(currentID, newAmount, newPrice)"><span i18n="UPDATE_STOCK"></span></button>
            </div>
        </div>
    </div>
</div>

