<!-- all-beers.html -->
<div class="row">
  <div class="col-md-6">

    <!-- POPULAR BEER -->
    <div class="list-group">
      <!-- draggable Button -->
      <button
        id="src_copy_{{ value.id }}"
        class="list-group-item"
        ng-class="(value.count < 1) ? 'disabled' : ''"
        ng-repeat="(key, value) in content | orderBy:'-count' | limitTo:popularLimit"
        data-beerid="{{ value.id }}"
        ng-attr-draggable="{{ !value.outofstock }}">
        <h4 class="list-group-item-heading">
          <i class="fa fa-fw fa-certificate"></i>{{ value.name }}<small>&nbsp;{{ value.name2 }}</small>
          <span class="pull-right">{{ value.price }}&nbsp;SEK</span>
        </h4>
        <p class="list-group-item-text">
          <span class="label label-info" ng-show="value.iskoscher">koscher</span>
          <span class="label label-default">{{ value.alk }}</span>
          <span class="label label-default">{{ value.packaging }}</span>
          <span class="label label-default">{{ value.origin }}</span>
          <span class="label label-danger">special offer</span>
          <i class="fa fa-fw fa-leaf" ng-show="value.isorganic"></i>
        </p>
      </button>
    </div>

    <!-- SEARCH/FILTER THINGY -->
    <div class="filter">
      <form role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>

          <label class="checkbox-inline">
            <input type="checkbox" ng-model="checkedFavorite" ng-click="checkboxClickFav(checkedFavorite)">
              <i class="fa fa-fw fa-heart"></i>
              favorite beers ({{ (content | filter:search | filter:{isFavorite:true}).length }})
          </label>

          <label class="checkbox-inline">
            <input type="checkbox" ng-model="checkedOrganic" ng-click="checkboxClickOrganic(checkedOrganic)">
            <i class="fa fa-fw fa-leaf"></i>
            organic beers ({{ (content | filter:search | filter:{isorganic:true}).length }})
          </label>

      </form>
    </div>

    <div class="list-group">
      <!-- draggable Button -->
      <button
        id="src_copy_{{ value.id }}"
        class="list-group-item"
        ng-class="(value.count < 1) ? 'disabled' : ''"
        ng-repeat="(key, value) in (filteredContent = (content | filter:search | filter:{isFavorite:checkedFavorite} | filter:{isorganic:checkedOrganic}))"
        data-beerid="{{ value.id }}"
        ng-attr-draggable="{{ !value.outofstock }}">
        <h4 class="list-group-item-heading">
          <a ng-click="markAs(key, !value.isFavorite, value.id)"><i ng-class="{'fa-heart' : value.isFavorite , 'fa-heart-o' : !value.isFavorite }" class="fa fa-fw"></i></a>
          {{ value.name }}<small>&nbsp;{{ value.name2 }}</small>
          <span class="pull-right">{{ value.price }}&nbsp;SEK</span>
        </h4>
        <p class="list-group-item-text">
          <span class="label label-info" ng-show="value.iskoscher">koscher</span>
          <span class="label label-default">{{ value.alk }}</span>
          <span class="label label-default">{{ value.packaging }}</span>
          <span class="label label-default">{{ value.origin }}</span>
          <span class="label label-warning" ng-show="value.outofstock">Out of stock</span>
          <i class="fa fa-fw fa-leaf" ng-show="value.isorganic"></i>
        </p>
      </button>
    </div>
  </div> 
  <div class="col-md-6">
    <div class="panel panel-default cart">
      <div class="panel-heading">Current balance: {{ balance }}&nbsp;SEK | Credit limit: {{ limit }}&nbsp;SEK</div>
      <div class="panel-body" id="dest_copy" droppable drop="handleDrop(beerID)">
        <button class="list-group-item" ng-repeat="(key, value) in beersInCart track by $index">
          <h4 class="list-group-item-heading"><i class="fa fa-fw fa-leaf"ng-show="value.isorganic"></i>{{ value.name }}<small>&nbsp;{{ value.name2 }}</small><span class="pull-right">{{ value.price }}&nbsp;SEK</span></h4>
          <p class="list-group-item-text">
            <a ng-click="deleteBeer(key)"><i class='fa fa-fw fa-trash pull-right'></i></a>
            <span class="label label-info" ng-show="value.iskoscher">koscher</span>
            <span class="label label-default">{{ value.alk }}</span>
            <span class="label label-default">{{ value.packaging }}</span>
            <span class="label label-default">{{ value.origin }}</span>
          </p>
        </button>
      </div>
      <div class="alert alert-danger" role="alert" ng-hide="isCartActive">
        The beer was not added to the cart. You reached 5 beer already or you credit limit is reached.
      </div>

      <div class="panel-footer clearfix">
        <div>
          <ul class="list-unstyled text-right">
            <li>ITEMS: {{ totalItems() }} of {{ cartMax }}</li>
            <li class="text-muted">LEFT MONEY TO SPEND: {{ limit + balance - totalMoney() }}&nbsp;SEK</li>
            <li class="lead"><strong>TOTAL: {{ totalMoney() }}&nbsp;SEK</strong></li>
          </ul>
        </div>
        <button class="btn btn-primary btn-lg btn-icon pull-right" ng-click="placeOrder()">Place Order<i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>