<!-- all-beers.html -->
<div class="row">
  <div class="col-md-6">

    <!-- SEARCH/FILTER THINGY -->
    <form role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="search">
      </div>
    </form>
    <div class="list-group">
      <!-- draggable Button -->
      <button id="src_copy_{{ value.id }}" class="list-group-item" ng-class="(value.count < 1) ? 'disabled' : ''" ng-repeat="(key, value) in content | filter:search" data-beerid="{{ value.id }}" draggable>
        <h4 class="list-group-item-heading"><i class="fa fa-fw fa-leaf"ng-show="value.isorganic"></i>{{ value.name }}<small>&nbsp;{{ value.name2 }}</small><span class="pull-right">{{ value.price }}</span></h4>
        <p class="list-group-item-text">
          <span class="label label-info" ng-show="value.iskoscher">koscher</span>
          <span class="label label-default">{{ value.alk }}</span>
          <span class="label label-default">{{ value.packaging }}</span>
          <span class="label label-default">{{ value.origin }}</span>
          <span class="label label-warning" ng-show="value.outofstock">Out of stock</span>
        </p>
      </button>
    </div>
  </div> 
  <div class="col-md-6">
    <div class="panel panel-default cart">
      <div class="panel-heading">Balance: {{ balance }}&nbsp;SEK | Limit: {{ limit }}&nbsp;SEK | Money to spend: {{ limit + balance }}&nbsp;SEK</div>
      <div class="panel-body" id="dest_copy" droppable drop="handleDrop(beerID)">
        <button class="list-group-item" ng-repeat="(key, value) in beersInCart track by $index">
          <h4 class="list-group-item-heading"><i class="fa fa-fw fa-leaf"ng-show="value.isorganic"></i>{{ value.name }}<small>&nbsp;{{ value.name2 }}</small><span class="pull-right">{{ value.price }}</span></h4>
          <p class="list-group-item-text">
            <i class='fa fa-fw fa-trash pull-right'></i>
            <span class="label label-info" ng-show="value.iskoscher">koscher</span>
            <span class="label label-default">{{ value.alk }}</span>
            <span class="label label-default">{{ value.packaging }}</span>
            <span class="label label-default">{{ value.origin }}</span>
          </p>
        </button>
      </div>

      <div class="panel-footer clearfix">
        {{ totalItems() }} of {{ cartMax }} Items in cart.
        <button class="btn btn-primary btn-lg pull-right" ng-click="placeOrder()">Place Order | TOTAL: {{ totalMoney() }}&nbsp;SEK</button>
      </div>
    </div>
  </div>
</div>