<!-- login.html -->
<div class="row">
  <div class="col-md-4">
  </div> 
  <div class="col-md-4 box">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span i18n="LOGIN"></span></h3>
      </div>
      <div class="panel-body">
        <form name="form" role="form" ng-submit="login()" ng-controller="LoginController">
          <div class="form-group">
            <label for="username"><span i18n="USERNAME"></span></label>
            <input type="text" class="form-control" id="username" placeholder="" required ng-model="username">
          </div>
          <div class="form-group">
            <label for="password"><span i18n="PASSWORD"></span></label>
            <input type="password" class="form-control" id="password" placeholder="" required ng-model="password">
          </div>
          <div class="alert alert-danger" role="alert" ng-show="isWrongUser" i18n="LOGIN_WRONG_PW_USER">
          </div>
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary pull-right"><span i18n="SIGN_IN"></span></button>
            <a href="/#/" class="btn btn-default pull-right"><span i18n="CANCEL"></span></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>